header {
  background-color: #6200ee;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  color: white;
  font-weight: 200;
  font-size: x-large;
}

button {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  background-color: #2a913e;
  border: none;
  padding: 2px 35px;
  cursor: pointer;
  border-radius: 2px;
}

header .search input {
  width: 13em;
  margin-right: 5px;
}

header .search {
  display: flex;
}

.map {
  background-color: green;
  height: 100%;
}

.wrapper {
  height: 100vh;
  overflow: hidden;
}
